<h1 style="text-align: center; margin-top: 0">Minimal Clock</h1>
<div class="app-container">
  <!-- Property Binding => [property]. -->
  <app-clock [timezone]="selectedTimezone"></app-clock>
  <!-- Event Binding => (event). This listens to the event timezoneChange of the class TimezoneSelectorComponent, so when timezone changes and emits a new timezone.value, updateTimezone($event) is called with that value as the parameter. -->
  <app-timezone-selector
    (timezoneChange)="updateTimezone($event)"
  ></app-timezone-selector>
</div>
